/***** GENERAL RULES *****/

body {
  color: white;
  background-color: pink;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid white 1px;
}

.container {
  background-color: blue;
}


/****** MAIN SECTION ******/

main {
  display: flex;
}


/*** side menu ***/

.side-menu {
  width: 200px;
  max-height: calc(100vh - 80px);
  background-color: black;
  overflow: scroll;
}

/*** app content ***/

.app-content {
  width: 100vw;
  background-color: darkblue;
  max-height: calc(100vh - 80px);
  overflow: scroll;
  /* position: relative; */

}

.app-nav {
  position: sticky;
  height: 50px;
  z-index: 5;
  background-color: red;
  overflow: scroll;
}

.test {
  font-size: 50px;
}

/****** FOOTER SECTION ******/

.footer-all {
  background-color: grey;
  height: 80px;
  display: flex;
  justify-content: space-between;

}

/*** player navigation ***/

.footer-all > div {
  height: 60px;
  width: 200px;
  background-color: red;
  align-self: center;
}
