/***** GENERAL RULES *****/

body {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  border: solid pink 1px;
}

/****** MAIN SECTION ******/

main {
  display: flex;
}


/**** SIDE MENU ****/

.side-menu {
  width: 250px;
  max-height: calc(100vh - 80px);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #7B7E82;
  font-weight: 800;

}

.side-nav img {
  max-width: 30px;
}

.side-playlist {
  
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);

}



.main-title-playlist {
  font-weight: 900;
  margin: 5px 0;
  text-transform: uppercase;


}


.create-playlist {
  background-color: grey;
  color: black;
  /* font-size: 25px; */

}

.all-playlists {
  overflow: scroll;
  max-height: 50%;

}

.all-playlists > span {
  display: block;
}

.profile-playlist img {
  max-width: 25px;
  background-color: grey;
  border-radius: 50%;

}


/**** APP CONTENT CONTAINER ****/

.app-content {
  width: 100vw;
  background-color: #141922;
  max-height: calc(100vh - 80px);
  overflow: scroll;
  display: flex;
  flex-direction: column;

}

.app-content h1 {
  font-size: 1.4rem;
  font-weight: bolder;

}

/** upgrade bar **/

.app-upgrade {
  position: fixed;
  height: 50px;
  z-index: 5;
  width: 100vw;
  text-align: center;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.61);

}

.app-upgrade > span:only-child {
  border-radius: 30px;
  border: solid white 2px;
  width: 100px;
  margin-left: 500px;
  margin-top: 10px;
  padding: 10px;


}

/** navigation bar **/

.app-nav {
  margin: 50px 0 10px 0 ;
  display: flex;
  justify-content: center;
  background-color: #141922;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: #7B7E82;
  font-weight: 900;
  /* font-size: 13px; */

}

.app-nav ul {
  list-style: none;

}

.app-nav ul > li {
  display: inline-block;
  margin: 0 10px;
}

/**** ALBUMS & SONGS ****/

/* first row: recently */

.albums-recently {
  display: flex;
  /* justify-content: space-between; */

}

.album-container {
  border: solid 1px green;
  text-align: center;
}

.album-container img {
  width: 150px;
  height: 150px;
}

/* second row: created for */

.app-content section:nth-child(4) {
  color: yellow;

}

/* third row: popular artists */

.app-content section:nth-child(5) img {
  border-radius: 50%;
}


/****** FOOTER SECTION ******/

/**** PLAYER NAVIGATION ****/

.footer-all {
  background-color: #282828;
  height: 80px;

  display: flex;
  justify-content: space-between;

}

.footer-all > .left-play,.center-play,.right-play {
  align-self: center;
  display: flex;
  font-weight: bolder;
  z-index: 99;
  padding: 0 10px;
}

.slider-bar {
  display: inline-block;
  height: 6px;

  vertical-align: middle;
  background-color: grey;
  border-radius: 10px;

}

.slider-amount {
  height: 2px;
  border: solid 2px white;
  border-radius: 10px;

}

/*** left side ***/

.left-play img {
  max-height: 50px;
}

.brano-name * {
  display: block;

}

.brano-name span:first-child {


}

.brano-name span:last-child {
  color: #616061;
}

.icons {
  align-self: center;
  color: #616061;

}

.icons i:last-child {
  margin: 0 5px;
}

/*** center ***/

.center-play {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider,.player-btns {
  align-self: center;
}

.player-btns span > i {
  margin: 0 10px 10px 10px;
  font-size: 20px;
}

.player-btns [class*="fa-play"] {
  font-size: 30px;
}

.center-play .slider > span {
  font-size: 0.6rem;
  vertical-align: middle;
}


.center-play .slider-bar {
  width: 300px;
}

.center-play .slider-amount {
  width: 100px;
}


/*** right side ***/

.right-play {
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.right-play span > i {
  margin: 0 10px;


}


.right-play .slider-bar {
  width: 100px;
}

.right-play .slider-amount {
  width: 40px;
}
